@import '../../../../mixin.scss';

.options {
    background-color: white;
    position: relative;
    box-sizing: border-box;
    padding: 0px 10px;
    position: absolute;
    left: 50px;
    top: 25px;
    border-radius: 20px 20px 0px 20px;
    border: 2px solid var(--border-light-purple);
    @include dFlex();
    gap: 5px;

    .optionsMenu {
        background-color: white;
        margin-top: 20px;
    }

    @media(max-width: 660px) {
    left: 15px;
    top: 35px;
    }
}

.thread-active {
    left: 50px;
    top: 10px;

    @media(max-width: 660px) {
        left: 15px;
        top: 5px;
        }
}

.edit-message-menu {
    @include dFlex($ai: start);
    background-color: white;
    position: absolute;
    bottom: -79px;
    right: -2px;
    flex-direction: column;
    border-radius: 0px 0px 0px 10px;
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid var(--border-light-purple);

    button {
        border: none;
        background-color: white;
        @include nunito($fw: 400, $fs: 16px, $c: black);
        padding: 5px;
        cursor: pointer;

        &:hover {
            background-color: var(--border-light-purple);
        }
    }
}

.option-menu {
    right: 50px;
    left: auto;
    border-radius: 20px 20px 20px 0px;

    @media(max-width: 660px) {
    right: 15px;
    }
}

.icon {
    @include materialSymbols($c: black, $fs: 24px);
    @include dFlex();
}

.emojis-container {
    position: absolute;
    width: 100%;
    z-index: 100;
    left: -50px;

    @media(max-width: 660px) {
        left: -15px;
    }
}
.emojis-container-member {
    position: absolute;
    width: 100%;
    z-index: 100;
    left: -55px;
   
    @media(max-width: 660px) {
        left: -130px;
    }
}

.option-btn-container {
    @include dFlex();
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

    img {
    object-fit: contain;
    }

    &:hover {
        background-color: var(--border-light-purple);
    }

    @media(max-width: 660px) {
        width: 30px;
        height: 30px;
    }
}