<div class="content-inside-wrapper">
    
    <div class="flow">
        <div (click)="navigation.navToPage(0)" class="step-back-button"><mat-icon>arrow_back</mat-icon></div>
        <h1>Reset Your<br>Password</h1>
    </div>

    <p>Please enter your correct E-Mail address.</p>
    <div class="form" [formGroup]="myFormLostPassword">
        <div class="input-area">   
            <app-input-field formControlName="email" type="email" icon="mail" placeholder="example@email.com" [required]="true" minlength="6" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"></app-input-field>
        </div>
        <p class="description">Afterwards we will send you a E-Mail to reset your current Password.</p>

        <div class="button-collection">
            <button [disabled]="!myFormLostPassword.valid" (click)="sendResetMail()" >Send E-mail</button>
        </div>
    </div>
</div>