<div class='impressum'><h1>Impressum</h1><p>Angaben gemäß § 5 DDG</p>
    <p><strong>Kontakt:</strong></p>
    <div class="card-holder-wrapper">
    <div class="info-card">
        <div class="profil-pic"><img src="./img/profile-pic/arndt-profil.webp"></div>
        <div class="profil-content">
        <p><strong>Marcel Arndt</strong><br> 
        Wilhelm-Raabe-Straße 13<br> 
        32105 Bad Salzuflen <br> 
        </p><p><!--<strong class="black">  Telefon:</strong> <br>
        49-0176 63626861<br>-->
        </p><p><strong class="black">E-Mail:</strong> <br> <a href='mailto:info@arndt-marcel.de'>info&#64;arndt-marcel.de</a></p>
        </div>
    </div>


    <div class="info-card reverse">
        <div class="profil-pic"><img src="./img/profile-pic/michael-kraemer-profile-picture.jpg"></div>
        <div class="profil-content">
        <p><strong>Michael Krämer</strong><br> 
        Emdener Str. 11<br> 
        48155 Münster<br> 
        </p><p><!--<strong class="black">  Telefon:</strong> <br>
        49-0176 63626861<br>-->
        </p><p><strong class="black">E-Mail:</strong> <br> <a href='mailto:info.m.kraemer@gmail.com'>info.m.kraemer&#64;gmail.com</a></p>
        </div>
    </div>

    <div class="info-card">
        <div class="profil-pic"><img src="./img/profile-pic/IMG-20240928-WA0001 (1).jpg"></div>
        <div class="profil-content">
        <p><strong>Adrian Enßlin</strong><br> 
        Schweizerhof 2<br> 
        86609 Donauwörth<br> 
        </p><p><!--<strong class="black">  Telefon:</strong> <br>
            49-0176 63626861<br>-->
        </p><p><strong class="black">E-Mail:</strong> <br> <a href='mailto:info@arndt-marcel.de'>adrian_ensslin&#64;web.de</a></p>
        </div>
        </div>
    </div>
    
    <p><strong>Haftungsausschluss: </strong><br><br><strong>Haftung für Inhalte</strong><br><br>
    Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 DDG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 DDG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br><br><strong>Haftung für Links</strong><br><br>
    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p><br> 
    Impressum vom <a target="_blank" href="https://www.impressum-generator.de">Impressum Generator</a> der <a target="_blank" href="https://www.kanzlei-hasselbach.de/rechtsgebiete/familienrecht/">Kanzlei Hasselbach</a>
</div>
     