@import '../../../mixin.scss';

.mat-mdc-dialog-surface,
mat-dialog-container,
.mdc-dialog--open .mat-mdc-dialog-surface,
.mdc-dialog--closing, :ng-deep .mat-mdc-dialog-surface
{
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    border-top-right-radius: 0px !important;
}

.mdc-dialog--open .mat-mdc-dialog-surface {
    height: auto !important;
    width: 460px !important;
    position: absolute !important;
    border-top-right-radius: 0px !important;
    flex-direction: unset !important;
    max-width: unset !important;
    @include respond-to-maxWidth(small){
        width: 294px !important;
    }
}

.mat-mdc-dialog-surface mdc-dialog__surface{
    width: unset !important;
}

.mdc-text-field--filled:not .mdc-text-field--disabled{
    background-color: transparent !important;
}

.card{
    @include padding(45px, 40px, 45px, 40px);
    @include dFlex(center, start);
   gap: 16px; 
   flex-direction: column;
   border-top-right-radius: 0px !important;
    width: 100%;
   @include respond-to-maxWidth(small){
        width: 294px !important;   
        @include padding(32px, 20px, 32px, 20px);
        gap: 0px; 
    }
}

.closeButton {
    border-radius: 50px;
    padding: 4px;
    &:hover{
    cursor: pointer;
    background-color: #DEE1F0;
    }
}

::ng-deep .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
    &::-webkit-scrollbar {
        width: 0px; 
    }
    &::-webkit-scrollbar-track {
        background-color: transparent; 
    }
}

.cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
    border-radius: 30px !important;
    border-top-left-radius: 0px !important;
}

div.mat-mdc-autocomplete-panel{
    background-color: white !important;
}

.titleAndCloseContainer{
    @include dFlex(space-between, center);
    @include nunito(700, 24px, black);
}

h3{
    color: var(--purple-1) !important;
}

h2{
    margin: 0px;
    @include nunito(700, 32px, black);
}

.addButtonContainer{
    width: 100%;
    @include dFlex(end, center);
    @include respond-to-maxWidth(small){
        margin-top: 16px;
    }
}

.mat-mdc-unelevated-button .mdc-button__label{
    font-size: 18px;
    @include nunito(18px, 200, white)
}

.addButton{
    width: fit-content;
    background-color: #444DF2 !important;
    @include padding(12px, 25px, 12px, 25px,);
}

.mdc-text-field--filled, .mdc-text-field, .mat-mdc-form-field-focus-overlay, .mdc-line-ripple::before, .mdc-line-ripple::after{
    background-color: transparent !important;
    border: 0px solid white !important;
    &:hover{
        background-color: transparent !important;
    }
    &:focus{
        border: 0px solid white !important;
    }
}

  // Manipulate background color on hover and focus
  .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
}

::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, 
::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control,
::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    @include nunito(400, 18px, black);
}

.mat-mdc-text-field-wrapper{
    scrollbar-width: none !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
    display: none;
}

.mat-mdc-standard-chip .mdc-evolution-chip__action--primary::before{
    content: unset !important;
}

.mat-mdc-text-field-wrapper {
    overflow: auto !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--primary {
    padding-left: 0px!important;
    padding-right: 0;
    background-color: transparent !important;
}

.mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
    padding-left: 0px!important;
    padding-right: 12px;
    background-color: transparent !important;
}

.cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
    &::-webkit-scrollbar {
        width: 8px; 
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent; 
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--purple-2); 
        border-radius: 30px; 
        transition: background-color 0.125s ease; 
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--purple-1); 
        cursor: grab;
    }
}