
<section>
    <div class="wrapper">
        <div class="main-wrapper">
            <div class="content-wrapper">
                <div class="animationContainer">
                    <div class="devider"></div>
                    <div class="Logo-Wrapper">
                        <div class="logo"><img [src]="darkmode.isDarkMode() ? './img/main-assets/main-logo-dark.svg' : './img/main-assets/main-logo.svg'"></div>
                    </div>
                    <div class="devider"></div>
                </div>
            </div>
        </div>
    </div>
</section>
