<div class="mobileTitleContainer">
  <h2><mat-icon class="tagIcon">tag</mat-icon>{{previousChannel.title}}</h2>
  <mat-icon (click)="dialogRef.close()" class="closeIcon">close</mat-icon>
</div>
<div class="dialog">
  <div class="titleContainer">
    <h2><mat-icon class="tagIcon">tag</mat-icon>{{previousChannel.title}}</h2>
    <mat-icon (click)="dialogRef.close()" class="closeIcon">close</mat-icon>
  </div>

  <form  #channelForm="ngForm" [ngClass]="{'box': !editIsOpen, 'box-edit': editIsOpen}" class="width100">
    <div class="titleContainer">
      <h3>Channel-Name</h3>
      <button 
        type="submit"
        [disabled]="channelForm.invalid"
        *ngIf="authenticationService.getCurrentUserId() === previousChannel.admin" 
        class="editButton"
        (click)="editIsOpen ? checkChannelAndSaveOrDeny() : openEditChannel()">
        {{ editIsOpen ? 'Save' : 'Edit' }}
      </button>
    </div>  
    <h3 *ngIf="!editIsOpen" class="channelTitle"><mat-icon class="tagIcon">tag</mat-icon>{{previousChannel.title}}</h3>
    <input *ngIf="editIsOpen" [(ngModel)]="newChannel.title" class="channelInput" name="channelTitle" required  #titleInput="ngModel" />
  </form>

  <div *ngIf="channelNameAlreadyExists" class="error">
    This title already exists.
  </div>

  <div [ngClass]="{'box': !editIsOpen, 'box-edit': editIsOpen}" class="width100">
    <div class="titleContainer">
      <h3>Description</h3>
      <!-- <button 
        *ngIf="authenticationService.getCurrentUserId() === previousChannel.admin" 
        class="editButton" 
        (click)="editIsOpen ? saveNewChannel() : openEditChannel()">
        {{ editIsOpen ? 'Save' : 'Edit' }}
      </button> -->
    </div>  
    <p class="description" *ngIf="!editIsOpen">{{previousChannel.description}}</p>
    <textarea *ngIf="editIsOpen" [(ngModel)]="newChannel.description" class="descriptionInput"></textarea>
    <p class="horizontalLine"></p>
    <h3>Created by</h3>
    <p class="creator">
      @if (this.previousChannel.id === 'uZaX2y9zpsBqyaOddLWh') {
        {{this.previousChannel.admin}}
      } @else {
        {{this.channelCreator}}
      }
    </p>
  </div>   
  @if (isWindowLowerThan600()){
    <app-show-members-of-channel></app-show-members-of-channel>
  }
  <div class="buttonContainer">
    <button class="bottomButton" mat-flat-button [disabled]="previousChannel.id === 'uZaX2y9zpsBqyaOddLWh'" (click)="leaveChannel()">Leave channel</button>
  </div> 
</div>
