@import '../../../../mixin.scss';

section {
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    @include heightWidth();
}

.message-field-container {
    scrollbar-width: none !important;
    @include heightWidth($w: 100%, $h: 100%);
    @include dFlex($ai: space-between, $jc: space-between);
    flex-direction: column;
    border: 1px solid var(--purple-2);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--secundary-bg);
    position: relative;

    textarea {
        scrollbar-width: none;
        @include heightWidth($w: 99%);
        border: none;
        outline: none;
        resize: none;
        background-color: var(--secundary-bg);
        @include nunito($fw: 400, $fs: 16px, $c: var(--text-black));
    }

    .message-options-container {
        @include dFlex($ai: center, $jc: space-between);
    }

    .options-btn {
        @include dFlex();

        .between-line {
            border: 1px solid var(--purple-2);
            height: 30px;
            margin: 0 10px;
        }

        button {
            @include heightWidth($w: 35px, $h: 35px);

            @include materialSymbols($c: var(--text-gray), $fs: 24px);
            border: none;
            background-color: var(--secundary-bg);
            border-radius: 50%;

            &:hover {
                background-color: var(--primary-bg);
            }
        }
    }

    .send-btn {
        @include heightWidth($w: 35px, $h: 35px);
        @include dFlex();
        @include materialSymbols($c: var(--purple-1), $fs: 28px);
        border: none;
        background-color: var(--secundary-bg);
        border-radius: 50%;

        &:hover {
            background-color: var(--primary-bg);
        }
    }

    .emojis-container {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
}

input[type="file"] {
    display: none;
}

.flie-label {
    @include dFlex();
    @include heightWidth($w: 35px, $h: 35px);
    border-radius: 50%;

    &:hover {
        background-color: var(--primary-bg);
    }
}

.open-file {
    cursor: pointer;
    @include dFlex();
    @include materialSymbols($c: var(--text-gray), $fs: 24px);
}

.user-list {
    position: absolute;
    background: var(--primary-bg);
    border: 1px solid #ddd;
    overflow-y: auto;
    top: -102px;
    left: 20px;
    width: 40%;
    height: 120px;
    border-radius: 20px;
    overflow-y: scroll;
    scrollbar-width: none;

    @media(max-width: 1285px) {
    left: 40px;
    }
    @media(max-width: 900px) {
    left: 70px;
    }
    @media(max-width: 600px) {
    left: 20px;
    width: calc(100% - 40px);
    }
}

.user-list ul {
    @include nunito($fw: 400, $fs: 16px, $c: var(--text-black));
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-list li {
    padding: 8px;
    cursor: pointer;
}

.user-list li:hover {
    background-color: var(--purple-2);
}

.user-list .active {
    background-color: #f0f0f0;
    color: #333;
}

mat-icon {
    @include dFlex();
}