<section class="main-wrapper"> 
    <div class="content-wrapper">

        <div class="inner-content-wrapper">
        <div class="menu-bar">
            <div (click)="backToLogin()" class="step-back-button"><mat-icon>arrow_back</mat-icon></div>
        </div>
        <div class='whiteBox'>   
                @if(currentPage === 'legal-notice'){<app-legal-notice></app-legal-notice>}
                @if(currentPage === 'privacy-policy'){<app-privacy-policy></app-privacy-policy>}
        </div>
        </div>

    </div>
</section>