@import '../../mixin.scss';

.main-wrapper{
    @include heightWidth($w: 100%, $h: 100%);
    @include dFlex;
    background-color: var(--primary-bg);
}

.content-wrapper{
    width: 100%;
    max-width: 1920px;
    @include dFlex;
}

.inner-content-wrapper{
    background-color: var(--secundary-bg);
    border: 24px solid var(--secundary-bg);
    border-radius: 24px;
    width: 100%;
    max-width: 800px;
    @include dFlex ($jc: center, $ai: start);
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(16, 0, 159, 0.1);
    @include respond-to-maxWidth(medium) {
        width: 80%;
    }
}


.menu-bar{
    z-index: 99;
    @include dFlex ($jc: start, $ai: start);
    width: 100%;
    height: 55px;
    padding: 12px 0px;
    margin-top: -12px;
    position: relative;

    &::after{
        opacity: 0.2;
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -4px;
        background: linear-gradient(180deg, var(--text-black) 0%, rgba(0,0,0,0) 80%);
    }
}

.whiteBox::-webkit-scrollbar{
    display: none;
}

.whiteBox{
    padding-top: 32px;
    @include heightWidth($w: 100%, $h: 100%);
    @include dFlex($jc: space-between);
    flex-direction: column;
    max-height: calc(60vh - 55px);
    overflow-y: auto;
    @include respond-to-maxWidth(medium) {
        @include heightWidth($w: 100%, $h: 100%);
        justify-content: start;
        max-height: 500px;
    }

}

.step-back-button{
    height: clamp(18px, 4vw, 24px);
    width: clamp(18px, 4vw, 24px);
    @include materialSymbols;
    font-size: 24px;
    color: var(--text-black);
    text-align: center;
    @include dFlex;
    border-radius: 50%;
    padding: 13px 13px;
    border: 1px solid transparent;

    mat-icon{
        font-size:24px;
    }

    &:hover{
        color: var(--text-blue);
        border-color: var( --purple-3);
        cursor: pointer;
    }

}
