@import '../../../mixin.scss';

.lockscreen{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    background-color: rgba(1, 12, 44, 0.92);
    backdrop-filter: blur(3px);
}

.banner{
    z-index: 999;
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(74,50,230);
    background: linear-gradient(-15deg, rgba(74,50,230,1) 0%, rgba(85,191,251,1) 100%);
    padding: 12px 24px 12px 24px;
    border-radius: 0px 32px 0px 32px;
    @include figtree($fw: 400, $fs: clamp(18px, 2vw, 32px), $c: var(--secundary-bg));
    margin-bottom: 32px;
    margin-right: 32px;
    animation: fading 1.75s ease-in-out forwards;
    transform: translateX(300px);
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon{
        color: white;
    }
    
    p{
        margin-top: auto;
        margin-bottom: auto;
        color: white;
        height: 100%;
        text-wrap: nowrap;
    }
}

mat-icon{
    width: clamp(18px, 2vw, 32px);
    padding-right: 16px;
    @include materialSymbols($c: var(--text-black), $fs: clamp(18px, 2vw, 32px));
}

@keyframes fading {
    0%{
        transform: translateX(300px);
        opacity: 0;
    }

    15%{
        opacity: 1;
    }

    25%{
        transform: translateX(0px);
    }
    
    75%{
        transform: translateX(0px);
        opacity: 1;
        scale: 1;
    }

   85%{
        transform: translateX(-100px);
        scale: 0.75 ;
        opacity: 0.5;
    }

    100%{
        transform: translateX(500px);
        opacity: 0;
        scale: 0.35 ;
    }

}

.animation-box{
    //!! Customise your Loading-Circle here !!//
    --circle-color: #29a6ff;
    --boarder-thickness: 4px;
    --box-size: 100px;
    --animtion-duration: 0.75s;
    ////////////////////////////////////////////
    position: absolute;
    top: calc((100% - var(--box-size)) / 2 );
    left: calc((100% - var(--box-size)) / 2 );
}

.animation-box > span{
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 0%;
}

.animation-circle{
    padding: 16px;
    width:var(--box-size);
    height: var(--box-size);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: var(--boarder-thickness) solid transparent;
    border-right: 0px solid var(--circle-color);
    border-bottom: var(--boarder-thickness) solid var(--circle-color);
    animation: rotate var(--animtion-duration) ease-out infinite;
}

@keyframes rotate {
    from{
        border-radius: 50%;
        border-bottom: var(--boarder-thickness) solid var(--circle-color);
        transform: rotate(-50deg);
    }
    to{
        border-right: 0px solid transparent;
        transform: rotate(310deg);
    }
}