    <div class="dropwDownTopRow" (click)="toggleContacts.emit()">
        <div class="dFlex">
            <mat-icon class="dropDownArrow" [ngClass]="{'rotateArrow': contactsAreVisible}">arrow_drop_down</mat-icon>
            <mat-icon class="userIcon">account_circle</mat-icon>
            <h3 class="folderTitle">Direct messages</h3>
        </div>
    </div>

    <div *ngIf="contactsAreVisible" class="dropDownContacts" @slideDown>
        <div class="contact" *ngFor="let member of members" (click)="selectContact.emit(member.id)">
            <div class="contactPicture">
                <img class="userImage" [src]="member.imageUrl" alt="Member image">
                <img class="onlineStatus" [src]="member.status ? './img/profile-pic/online.svg' : './img/profile-pic/offline.svg'" alt="Online status">
            </div>
            <span class="contactName">{{ member.name }} <span *ngIf="member.id === currentMember?.id">(You)</span></span>
        </div>
    </div>
