@import '../../../mixin.scss';

.new-message-container {
    @include dFlex($ai: start, $jc: center);
    box-sizing: border-box;
    position: relative;

    .profile-image {
        @include image($br: 50%);
        @include heightWidth($w: 60px, $h: 60px);
        object-fit: cover;
    }

    .answer-date-time-container {
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 20px;
        border: 1px solid var(--border-light-purple);
        box-sizing: border-box;
        padding: 5px 10px;
        background-color: var(--secundary-bg);

        p {
            @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
        }

        @media(max-width: 450px) {
            width: 80%;
            text-align: center;
        }
    }

}

.border-top {
    padding: 50px 0px;
    border-top: 1px solid var(--border-light-purple);
}

.border-none {
    padding: 50px 0;
    border-top: none;

    @media(max-width: 660px) {
        padding: 20px 0;
    }
}

.hover {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 30px;

    &:hover {
        background-color: var(--primary-bg);
    }

    @media(max-width: 1285px) {
        padding-left: 50px;
    }

    @media(max-width: 900px) {
        padding-left: 70px;
    }

    @media(max-width: 660px) {
        padding: 5px 15px;
        flex-direction: column;
        align-items: end;
        padding-left: 70px;
    }

    @media(max-width: 450px) {
        padding-left: 15px;
    }
}

.text-dark {
    @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
}

.text.light {
    @include nunito($fw: 400, $fs: 18px, $c: var(--secundary-bg));
}

.align-start {
    @media (max-width: 660px) {
        align-items: start;
    }
}

// .chatDistanceToDevSpaceToggleButtonOnTablet{
//     padding-left: 72px !important;
// }